body {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.6em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #454;
  color: #ddd;
  max-width: 1200px;
  width: 90%;
}

#container {
  display: grid;
  grid-template-columns: 1fr minmax(0, 4fr);
  grid-template-rows: 4em auto 4em;
  grid-template-areas: "title subtitle" "navigation content" "footer footer";
  gap: 52px;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
    padding: 0 0.5em;
  }
  #container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 4em;
    grid-template-areas: "subtitle" "title" "navigation" "content" "footer" ;
    gap: 8px;
  }
}

.centered {
  margin: 0 auto;
}

.containerelement {
  background-color: #454;
  /*border: 1px solid #fed;*/
}

#title {
  grid-area: title;
  align-self: end;
  justify-self: stretch;
}

#subtitle {
  grid-area: subtitle;
  align-self: end;
  justify-self: stretch;
  padding-bottom: 0.58em; /* match 0.4em title padding plus 0.18em to fully align it */
}

nav {
  grid-area: navigation;
  justify-self: stretch;
}

#content {
  grid-area: content;
  justify-self: stretch;
}

#footer {
  grid-area: footer;
  justify-self: stretch;
  margin-top: 2em;
  padding-top: 1em;
  margin-bottom: 1em;

  display: grid;
  grid-template-columns: 2fr minmax(0, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "footerName footerName" "footerUnderName footerLinks";
  gap: 16px;
  justify-content: space-between;

  border-top: 1px #ddd solid;
}

#footerName {
  grid-area: footerName;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  color: #ddd;
  font-weight: 300;
}

#footerUnderName {
  grid-area: footerUnderName;
  font-size: 0.9em;
}

#footerLinks {
  grid-area: footerLinks;
  list-style: none;
  margin: 0;
  text-align: right;
}

.debug {
  overflow-y: scroll;
}

code {
  color: #ffa;
  /*background-color: #343;*/
  background-color: #272822;
  padding: 0.3em;
  margin: 0.2em;
}

pre {
  background-color: #272822;
  padding: 0.5em;
  overflow-x: auto;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #eef;
}

a:hover {
  text-decoration: underline;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.accent_travel {
  border-color: #696 !important;
}

.accent_tech {
  border-color: #68a !important;
}

.headercontent {
  line-height: 1em;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.link {
  padding: 0.4em 0.8em;
}

.link:hover {
  background: #676;
}

.active {
  background: #565;
}

main {
  /*background: #565;*/
  line-height: 1.9em;
}

main img {
  background: #eef;
  max-width: 100%;
  /*padding: 2px 2px 2px 14px;*/
  margin: -2px;
  border: 1px solid #bbc;
}

article>p:first-child {
  margin-top: 0.4em;
}

.postList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.post {
  display: block;
  max-width: 100%;
  /*width: 45%; uncomment if .postList flex-wrap is wrap*/
  background-color: #464;
  border: 1px solid #aaa;
  margin: 0.3em 0;
  font-weight: normal;
}

.post:hover {
  background-color: #575;
  border: 1px solid #aea;
  text-decoration: none;
}

.post>div {
  display: flex;
  flex-direction: column;
  margin: 0.7em;
}

.postheader {
  /*text-align: center;*/
  margin-bottom: 1em;
}

.postsummary {
  font-style: italic;
}


/* For photo album, use https://css-tricks.com/adaptive-photo-layout-with-flexbox/ */
