/* Copied from https://edw.is/about-this-website/ */
*,*:before,*:after {
    box-sizing: border-box
}

html {
    font-size: 80%;
    background-color: #f2f1eb;
}

body {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 1.8;
    max-width: 75rem
}

footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

header#title {
    margin: 25px 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    line-height: 1.15
}

p {
    margin: 12px 0
}

header#post-header h1 {
    display: block
}

header#post-header>div {
    display: block;
    color: #767676
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center
}

li {
    line-height: 1.5;
}

li>p {
    margin: 0 0 0.7em 0;
}

figure {
    display: block
}

figure img {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center
}

figure figcaption {
    font-size: .92em;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

figure figcaption p {
    display: inline
}

blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border-left: solid 3px;
    border-radius: 3px;
    font-size: 14px;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

code {
    font-size: 1.2rem;
    font-family: 'Cascadia Code', monospace;
}

pre {
    background: #f8f8f8;
    font-family: 'Cascadia Code', monospace;
    display: block;
    overflow-x: auto;
    margin: 20px 0;
    padding: 1.5rem;
    line-height: 1.4;
    border: 1px solid
}

p>code {
    margin: 0 0.7em;
    background-color: #f8f8f8;
}

blockquote.hint-info {
    background-color: #f9f9f9;
    color: #464646
}

blockquote.hint-warning {
    border-left-color: #fd6!important;
    background-color: #ffdd6660
}

blockquote.hint-danger {
    border-left-color: #f66!important;
    background-color: #ff666660
}

video {
    display: block;
    margin: auto
}

table,th,td {
    border: 1px solid #000
}

th,td {
    padding: 6px
}

table {
    border-collapse: collapse;
    border-spacing: 10px
}

kbd {
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid #000
}

#breadcrumbs {
    margin-bottom: 2em;
}

#breadcrumbs li {
    display: inline;
    list-style-type: none;
}