html
{
	font: normal 18px/24px georgia,serif;
	text-rendering: optimizeLegibility;
	color: #222;
	background-color: #000;
	height: 100%;
}

body
{
	background-image: url(simple_dashed.png);
	margin: 0;
	padding: 1em 0 1em 0;
}

article
{
	background-color: #eee;
	width: 80%;
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding: 0 3em 1em 3em;
}

header
{
	color: #500;
	text-align: center;
}

section>header
{
	width: 75%;
	max-width: 600px;
	font-style: italic;
	font-size: 1.1em;
	border-top: 1px solid #ddd;
	padding: 0.6em 0 0.4em 0;
	margin: 0 auto;
}

article>header
{
	font-weight: bold;
	font-size: 1.4em;
	padding: 1em;
}

section
{
	margin-bottom: 2em;
	text-align: left;

}

figure
{
	padding: 1em 0 1em 0;
	margin: 0;
	text-align: center;
}

a, a:visited
{
	color: #711;
	text-decoration: underline;
}

a:hover
{
	color: #d22;
	text-decoration: underline;
}

::selection
{
	background: #ddd;
}