html {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

body {
	background-color: #999;
	max-width: 700px;
	height: 100%;
	margin: 0 auto 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	line-height: 200%;
}

.description {
	background-color: #dde0dd;
	overflow-y: auto;
	color: #200;
	width: 66%;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;	
	border-left: 2px solid #eee;
}

.description article {
	padding: 40px;
	float: left;
	max-width: 500px;
}

.description header {
	font-size: 36px;
	margin: 0;
}

.description nav {
	margin: 10px 0 30px 0;
	font-size: 16px;
}

.description nav ul {
	margin: 0;
	padding: 0;
}

.description nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 30px;
	font-weight: bold;
}

.description nav a.selected {
	border-bottom: 3px solid #f44;
}

.description nav a {
	text-decoration: none;
	color: #000;
}

.description nav a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 3px solid #a0f;
}

.thumbnails {

}

.thumbnails figure {
	float: left;
	position: relative;
	width: 125px;
	height: 125px;
	margin: 0px;
	cursor: pointer;
}

/* This sets up the tint as per http://www.impressivewebs.com/image-tint-blend-css/ */
/* But the color is defined in .group# figure:before */
.thumbnails figure:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: background .1s linear;
	-webkit-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}

.thumbnails figure:hover:before {
	background: none;
}

.thumbnails img {
	width: 125px;
	height: 125px;
	margin: 0;
	border: 0 none;
}

.tiles {
	background-color: #224;
	overflow: hidden;
	width: 34%;
	top: 0;
	left: 0;
	bottom: 0;
	position: absolute;
}

.tiles section {
	float: right;
	clear: right;
	margin: 0 0px 0 0;
}

.tiles section:first-child {
	margin-top: 0px;
}

.tiles figure {
	float: right;
	position: relative;
	width: 600px;
	height: 125px;
	margin: 0px;
	cursor: pointer;
}

/* This sets up the tint as per http://www.impressivewebs.com/image-tint-blend-css/ */
/* But the color is defined in .group# figure:before */
.tiles figure:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: background .1s linear;
	-webkit-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}

.tiles figure:hover:before {
	background: none;
}

.tiles figure img {
	width: 600px;
	height: 125px;
	border: 0 none;
}

.tile1 figure:before {
	background: rgba(20,80,100, 0.5);
}

.tile2 figure:before {
	background: rgba(20, 70, 150, 0.5);
}

.tile3 figure:before {
	background: rgba(180,60,0, 0.5);
}

.tile4 figure:before {
	background: rgba(150,90,30 , 0.5);
}

.group1 figure {
	background-color: #8C3;
}

.group1 figure:before {
	background: rgba(150,255,0, 0.5);
}

.group2 figure {
	background-color: #C38;
}

.group2 figure:before {
	background: rgba(255, 0, 150, 0.5);
}

.group3 figure {
	background-color: #3C8;
}

.group3 figure:before {
	background: rgba(0,255,150, 0.5);
}

.group4 figure {
	background-color: #38C;
}

.group4 figure:before {
	background: rgba(0,150,255, 0.5);
}