html {
    background-color: #112;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

body {
	/*
	max-height: 1250px;
	*/
    max-width: 1150px;
    margin: 0px auto 0px auto;
    position: relative;
    height: 100%;

	font-family: 'Muli', 'Tahoma', 'Geneva', sans-serif;
	font-size: 18px;
	line-height: 200%;
}

#background {
    position: absoulte;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#description_background {
    background: #edf0ed;
    position: absolute;
    width: 67%;
    left: 33%;
    top: 0;
    bottom: 0;
    right: 0;
}

#tiles_background {
    background: #244674;
    position: absolute;
    width: 33%;
    left: 0px;
    top: 0;
    bottom: 0;
    right: 67%;
}

#foreground {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

#container_tiles {
    float: left;
    width: 33%;
    height: 100%;
    right: 67%;
    background: #244674;
	border-right: 2px solid #eef;
}

#container_description {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    background: #edf0ed;
    position: relative;
}

.description {
    float: left;
    width: 67%;
    position: absolute;
    right: 0;
    overflow: hidden;

	color: #322;

	/*
	overflow-y: auto;
	width: 67%;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;	
	*/
}

.tiles {
    float: left;
    width: 100%;
    position: relative;
    left: 0;
    overflow: hidden;
    background-color: #244674;

	/*
	width: 33%;
	top: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	*/
}



.description article {
	float: left;
	max-width: 600px;
	padding-right: 40px;
	display: none; /* Initially, all articles are hidden */
}

.description section {
	padding: 0 0 0 40px;
	font-family: 'Tahoma', 'Geneva', sans-serif;
	display: none; /* Initially, all section are hidden */
}

.description header {
	font-size: 36px;
	margin: 40px 0 0 0;
	padding: 0 0 0 40px; /* I'm animating padding because it doesn't affect content width */
}

.description nav {
	margin: 10px 0 30px 0;
	padding: 0 0 0 40px; /* I'm animating padding because it doesn't affect content width */
	font-size: 16px;
}

.description nav ul {
	margin: 0;
	padding: 0;
}

.description nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 30px;
	font-weight: bold;
}

.description nav a.selected {
	border-bottom: 3px solid #f44;
}

.description nav a {	
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.description nav a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 3px solid #a0f;
	cursor: pointer;
}

.thumbnails {

}

.thumbnails figure {
	float: left;
	position: relative;
	width: 125px;
	height: 125px;
	margin: 0px;
	cursor: pointer;
}

/* This sets up the tint as per http://www.impressivewebs.com/image-tint-blend-css/ */
/* But the color is defined in .group# figure:before */
.thumbnails figure:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: background .1s linear;
	-webkit-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}

.thumbnails figure:hover:before {
	background: none;
}

.thumbnails img {
	width: 125px;
	height: 125px;
	margin: 0;
	border: 0 none;
}



.tiles section {
	float: right;
	clear: right;
	margin: 0 0px 0 0;
	width: 100%;
	height: 125px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: right;	
}

.tiles section:first-child {
	margin-top: 0px;
}

.tiles section > div {
	float: right;
	position: relative;
	max-width: 380px;
	width: 100%;
	height: 125px;
	margin: 0px;
}

/* The text over each tile */
.tiles section > div > span {
	color: #ddf;
	text-align: right;
	line-height: 25px;
	text-shadow: 0px 0px 4px #000;

	display: block;
	position: absolute;
	right: 15px;
	bottom: 2px;

	opacity: 1;
	-moz-transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;	
}

/* Hide text when the mouse is over */
.tiles section > div:hover > span {
	opacity: 0;
}

/* This sets up the tint as per http://www.impressivewebs.com/image-tint-blend-css/ */
/* But the color is defined in .group# figure:before */
.tiles div:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-moz-transition: background .2s linear;
	-webkit-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

/* Remove the tint overlay */
.tiles div:hover:before {
	background: none;
}

/* Tint overlays: */

.tile1 div:before {
	background: rgba(4, 38, 86, 0.5);
}

.tile2 div:before {
	background: rgba(4, 38, 86, 0.5);
}

.tile3 div:before {
	background: rgba(4, 38, 86, 0.5);
}

.tile4 div:before {
	background: rgba(4, 38, 86, 0.5);
}

.tile5 div:before {
	background: rgba(4, 38, 86, 0.5);
}

.tile6 div:before {
	background: rgba(4, 38, 86, 0.5);
}

.tileN div:before {
	background: rgba(4, 38, 86, 0.5);
}

/* Background images:; */
.tile1 {
	background-image: url("../images/a1.png");
}

.tile2 {
	background-image: url("../images/a2.png");
}

.tile3 {
	background-image: url("../images/a3.png");
}

.tile4 {
	background-image: url("../images/a4.png");
}

.tile5 {
	background-image: url("../images/a5.png");
}

.tile6 {
	background-image: url("../images/a6.png");
}

/* Images in the text body */

.group1 figure {
	background-color: #8C3;
}

.group1 figure:before {
	background: rgba(150,255,0, 0.5);
}

.group2 figure {
	background-color: #C38;
}

.group2 figure:before {
	background: rgba(255, 0, 150, 0.5);
}

.group3 figure {
	background-color: #3C8;
}

.group3 figure:before {
	background: rgba(0,255,150, 0.5);
}

.group4 figure {
	background-color: #38C;
}

.group4 figure:before {
	background: rgba(0,150,255, 0.5);
}

.eof {
       margin-left: 10px;
       position: relative;
       top: 0px;
       background-color: #f44;
       width: 10px;
       height: 10px;
       cursor: default;
}

.eof:hover {
	background-color: #a0f;
}

::selection {
	background: #ddd;
}