.description article {
	display: block;
}

.description section {
	display: block;
}

.description nav {
	display: none;
}

.thumbnails {
	display: inline-block;
}

.noscript-hidden {
	display: none;
}

.tiles .tile {	
	cursor: default;
}
