<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    {% if site.data.tags.size > 0 %}
      <p>
      {% for tag in site.data.tags %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
          {% assign tags_content = tags_content_temp %}
      {% endfor %}
      {{ tags_content }}
    {% endif %}
      </p>

  </div>

</header>
