<!-- infrastructure -->
<script src="//unpkg.com/alpinejs" defer></script>
 
<!-- recipe content -->
<!-- todo: rename amoutn to multiplier-->
<div 
    class='recipe'
    x-data='{ base: {{ .Get "default" }}, amount: 1 }'
    x-init='$watch("base", base => { amount = base/ {{ .Get "default" }}; })'
    >
    <p>
        How many crepes do you want?
    </p>
    <p>
        <button @click="base = 1">5</button>
        <button @click="base = 2">10</button>
        <button @click="base = 3">15</button>
        <button @click="base = 4">20</button>
        <button @click="base = 5">25</button>
        <button @click="base = 6">30</button>
        <!--<input type="number" x-model="base" />-->
    </p>
    <p>
        {{.Inner}}
    </p>
</div>
