<div id="footer" class="containerelement">
    <div id="footerName"><abbr title="{{ .Site.Params.footerAbbr }}">{{ .Site.Params.footerName }}</abbr></div>
    <div id="footerUnderName">{{ .Site.Params.footerDescription }}</div>
    <ul id="footerLinks">
        <li><a href="//github.com/amadeusw">My github</a></li>
        <li><a href="//amadeusw.com/portfolio">2013 portfolio</a></li>
        <li><a href="feed.xml">RSS feed</a></li>
        <li><a href="#">Scroll to top</a></li>
    </div>
</div>
