{{ define "main" }}
<main>
    <picture id="postpicture">
        <img src="{{.Site.BaseURL}}{{ .Params.image}}" alt="{{.Params.image_alt}}" />
    </picture>

    <p class="home">
        {{.Content}}
    </p>
    <nav class="postList">
        <ul>
        {{ range .Sections }}
            {{ partial "listitem.html" . }}
        {{end}}
        </ul>
    </nav>
    <p>
        A few recent posts:
    </p>

    <!--
    <nav class="postList">
        <ul>
        {{ range first 6 .Site.RegularPages }}
            {{ partial "listitem.html" . }}
        {{end}}
        </ul>
    </nav>
    -->

</main>
{{ end }}