{{define "main"}}
<article class="{{ .Type }}">

    {{ if .Params.image }}
    <picture id="postpicture">
        <img src="{{.Site.BaseURL}}{{ .Params.image}}" alt="{{.Params.image_alt}}" />
    </picture>
    {{ end }}

    <header id="postheader" class="accent_{{ .Type }}">
        <h3>{{ .Title }}</h3>
    </header>

    <main>
        {{.Content}}
    </main>

</article>
    <nav class="postList">
        <ul>
        {{ range .Pages }}
            {{ partial "listitem_with_summary.html" . }}
        {{end}}
        </ul>
    </nav>

    {{ if .Params.showTags }}
    <aside class="tagcloud">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
        <ul>
            {{ range $key, $value := $taxonomy }}
            <li> {{ $key }} </li>
                <ul>
                {{ range $value.Pages }}
                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                {{ end }}
                </ul>
            {{ end }}
        </ul>
        </li>
    {{ end }}
    </aside>
    {{end}}
</main>

{{end}}