.sidebar-about h1 {
	font-size: 2.5rem;
}

/*
body {
	background: #444;
	color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
	color: #ccc;
}

.page-title, .post-title, .post-title a {
	color: #fff;
}

*/
pre {
	background-color: transparent;
}

code {
	background-color: #191919;
	color: #ddd;
}

.highlight {
	background-color: #191919;
	border: 1px solid #999;
}
